<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510867103316-cojavrpi8ao9vvol6rkk2r2jcbsj2t77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510867103316-cojavrpi8ao9vvol6rkk2r2jcbsj2t77</string>
	<key>API_KEY</key>
	<string>AIzaSyDg0z8RNrSXxPvI1YDzv0U_Vgv-NAm_qvY</string>
	<key>GCM_SENDER_ID</key>
	<string>510867103316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redbacks</string>
	<key>PROJECT_ID</key>
	<string>redbacks-bda72</string>
	<key>STORAGE_BUCKET</key>
	<string>redbacks-bda72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510867103316:ios:af1a42c650d1ec14c517c1</string>
</dict>
</plist>