<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164982423858-8c0qk3fjpbgh8eruahq95se4t3vvhsbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164982423858-8c0qk3fjpbgh8eruahq95se4t3vvhsbg</string>
	<key>API_KEY</key>
	<string>AIzaSyBjW-TVgsK120_7t73d9Xd_01UpC-NIt9A</string>
	<key>GCM_SENDER_ID</key>
	<string>164982423858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joelsmithinc.redbacks.dev</string>
	<key>PROJECT_ID</key>
	<string>redbacks-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>redbacks-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164982423858:ios:b70196a79ecae1b64b172b</string>
</dict>
</plist>